<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Техподдержка</h1>
    <p>&nbsp;</p>
    <form action="" id="form1" method="post" name="subject" target="_self">
        <fieldset>
            <p>Тема сообщения:</p>
            <p><input maxlength="200" name="subject" size="200" type="text"></p>
            <p>Текст сообщения:</p>
            <p><textarea cols="15" name="content" rows="15" style="margin: 0px; height: 227px; width: 631px;"></textarea></p>
            <p>&nbsp;</p>
        </fieldset>
        <p><input name="send" type="submit" value="Отправить"></p>
    </form>
    <p>&nbsp;</p>
</body>
</html>




